%h1=t('.title')
%p=t('.contact_us')

=form_tag request_contact_path, method: 'post' , name: "contact_form" do
  =label_tag :name, t('.name')
  =text_field_tag :name,'', title: t('.enter_name'), size: 50,:id => "name"

  = label_tag :email, t('.email')
  = email_field_tag :email, '', title: t('.enter_email'), :id=> "email"
  = label_tag :telephone, t('.telephone')
  = telephone_field_tag :telephone, '', title: t('.enter_telephone'), :id => "telephone"
  = label_tag :message, t('.message')
  = text_field_tag :message, '', title: t('.enter_message'), size: 100, :id=> "msg"

  =submit_tag t('.submit'), :id => "submit"


