.home
  %a{:href=>"library"}
    =image_tag "library.png"
    %h3= t('home.home.library')

  %a{:href=>"book"}
    = image_tag "book.png"
    %h3= t('home.home.book')

  %a{:href=>"author"}
    = image_tag "author.png"
    %h3= t('home.home.author')

