= form_for @book do |f|
  - if @book.errors.any?
    #error_explanation
      %h2= "#{pluralize(@book.errors.count, "error")} prohibited this book from being saved:"
      %ul
        - @book.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :author
    = f.collection_select(:author_id, Author.all,:id,:name,{}, :multiple =>false)
  .field
    = f.label :library
    = f.collection_select(:library_id, Library.all,:id,:name,{}, :multiple =>false)
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :genre
    = f.text_field :genre
  .actions
    = f.submit 'Save'
